<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
	      
</head>
<body lang="es" style="font-size:18px;">
	<div th:insert="fragments/layout :: generalHeader" class="fixed-top"></div>
	<br>
	<div class="container">
		<div>
			<br>
			<div class="row">
				<div class="card col-xs-12 col-sm-6 col-md-6 col-lg-6 mx-auto">
					<div class="card-body">
						<form th:action="@{/porting/status/}" th:method="post" method="post"
							th:object="${portingForm}">
							<h4 class="card-title text-center">Consulta el estatus de tu portabilidad</h4>
							<p th:if="${confirmationMessage}" class="alert alert-success"
								role="alert" th:text="${confirmationMessage}"></p>
							<ul class="global-errors" th:if="${#fields.hasErrors('global')}">
								<li class="text-danger"
									th:each="err : ${#fields.errors('global')}" th:text="${err}">Input
									is incorrect</li>
							</ul>
							<hr>
							<div class="form-group">
								<label for="msisdnPorted">Número celular portado</label> <input
									type="text" class="form-control" th:field="*{msisdnPorted}"
									id="msisdnPorted"
									placeholder="Número celular a 10 dígitos ej. 5586410100"
									maxlength="10" 
									required="required">
								<p class="text-danger"
									th:if="${#fields.hasErrors('msisdnPorted')}"
									th:errors="*{msisdnPorted}"></p>
							</div>
							<div class=" text-dark justify-content-center" style="bgcolor:#bdc1be">
								<p id ="cellphoneText" th:text="${cellphoneNumber}"  ></p>
								<p id ="portingStatusMessage" th:text="${portingStatusMessage}"  ></p>
								<p id="portingDate" th:text="${portingDate}"></p>
								<p id="iccid" th:text="${iccid}"></p>
								<p id="userName" th:text="${userName}"></p>
							</div>
							<div class="row justify-content-center">
								<button type="submit" class="btn btn-primary">Aceptar</button>
							</div>
						</form>
					</div>
				</div>
				<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 mx-auto">
				<img th:src="@{/images/porting_status.png}" class="img-responsive"
						alt="Simcard Gift">
				</div>
			</div>

		</div>
	</div>
	<div class="modal"></div>
	<div th:insert="fragments/layout :: footer" class="fixed-bottom"></div>
</body>
<script th:src="@{/script/util.js}"></script>
<script th:src="@{/script/porting/portingStatus.js}"></script>
</html>