<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body lang="es">
<div th:insert="fragments/layout :: generalHeader" class="fixed-top"></div>
<div class="container">
    <br>
    <div align="right">
        <a th:href="@{/logout}" class="btn btn-light">Cerrar sesión</a>
    </div>
    <br>
    <div class="row col-6">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mx-auto">
            <h3 class="text-left">  <a th:href="@{/adminTurboOffice/paymentLink}" id="callDetailButton"
                                              class="btn btn-primary">Simular Pago</a></h3>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 mx-auto">
            <img
                    th:src="@{/images/turbo_office.jpg}" class="img-responsive"
                    alt="Activacion Turbo office">
        </div>
    </div>
    <h3 class="text-center">Administración Turbo Office</h3>
    <p th:if="${confirmationMessage}" id="confirmationMessage"
       class="alert alert-success" role="alert"
       th:text="${confirmationMessage}"></p>
    <p th:if="${errorMessage}" id="errorMessage"
       class="alert alert-danger" role="alert"
       th:text="${errorMessage}"></p>

    <input type="hidden"
           id="virtualNumberSelected"  />
    <input type="hidden"
           id="associatedNumberSelected"  />

    <table class="table table-bordered table-striped" id="turboOfficeUsers">
        <thead>
        <tr>
            <th>Servicio</th>
            <th>Número asociado</th>
            <th>Número Virtual</th>
            <th>Estatus</th>
            <th>Fecha Expiración</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="myTable">

        <tr th:each="user : ${turboOfficeAdminModel.turboOfficeUsers}"  >
            <td th:text="${user.turboOfficePlanName}"></td>
            <td th:text="${user.associatedNumber}"></td>
            <td th:text="${user.virtualNumber}"></td>
            <td th:text="${user.turboOfficeStatus}"></td>
            <td th:text="${user.expiredAt}"></td>
            <td>



                <div th:if="${user.virtualNumber != null and user.virtualNumber != ''}">

                    <button th:data-numvirtual="${user.virtualNumber}" th:data-numassociate="${user.associatedNumber}" type="button"
                            class="btn btn-primary desvincularButton" data-toggle="modal" data-target="#myUnLinkModal">Disvincular</button>
                    <button th:data-numvirtual="${user.virtualNumber}" type="button"
                            class="btn btn-primary resetearButton" data-toggle="modal" data-target="#myUnlockModal">Resetear password</button>
                    <button th:data-numvirtual="${user.virtualNumber}"  type="button" class="btn btn-primary myDeleteButton"
                            data-toggle="modal" data-target="#myDeleteModal">Dar
                        de baja</button>


                </div>

            </td>
        </tr>
        </tbody>
    </table>

</div>

<div class="modal fade" id="myUnLinkModal">
    <div class="modal-dialog ">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header text-white"
                 style="background-color: #78BE21;">
                <h4 class="modal-title">Desvincular número virtual</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">Confirmar desvincular número virtual</div>
            <!-- Modal footer -->
            <div class="modal-footer align-self-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                        onclick="desvincularUser()">Aceptar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myDeleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header text-white"
                 style="background-color: #78BE21;">
                <h4 class="modal-title">Baja de usuario</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">Confirmar baja al usuario</div>
            <!-- Modal footer -->
            <div class="modal-footer align-self-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                        onclick="deleteUser()">Aceptar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myUnlockModal">
    <div class="modal-dialog ">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header text-white"
                 style="background-color: #78BE21;">
                <h4 class="modal-title">Resetear password usuario(App)</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">Confirmar reseteo de usuario(App)</div>
            <!-- Modal footer -->
            <div class="modal-footer align-self-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                        onclick="unlockAppUser()">Aceptar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal"></div>
<div th:insert="fragments/layout :: footer" class="fixed-bottom"></div>
</body>
<script th:src="@{/script/util.js}"></script>
<script th:src="@{/script/toffice/adminUser.js}"></script>


</html>