<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">

</head>
<body lang="es" style="font-size: 18px;">
	<div th:insert="fragments/layout :: generalHeader" class="fixed-top"></div>
	<br>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mx-auto">
				<div>
					<div class="row">
						<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 mx-auto">
							<h4 class="text-center">Consulta número asociado TURBORED</h4>
						</div>
					</div>
					<hr>
				</div>
				<p th:if="${failedMessage}" id="failedMessage"
								class="alert alert-danger" role="alert"
								th:text="${failedMessage}"></p>
				<p id="errorMessage" class="alert alert-danger" role="alert"
					style="display: none;"></p>
				<div class="card-body">
					<form id="card-form" th:action="@{/turboOffice/phoneImei}"
						th:object="${imeiPhoneModel}" th:method="post" method="post"
						action="register">
						<ul class="global-errors" th:if="${#fields.hasErrors('global')}">
							<li class="text-danger"
								th:each="err : ${#fields.errors('global')}" th:text="${err}">Input
								is incorrect</li>
						</ul>
						<div id="imeiDiv">
							<div class="row">
								<div
									class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mx-auto form-group ">
									<label for="imei">IMEI: </label> <input type="text"
										class="form-control" th:field="*{imei}"
										placeholder="15 dígitos ej. 123456106543211" maxlength="15" required="required">
									<p class="text-danger" th:if="${#fields.hasErrors('imei')}"
										th:errors="*{imei}"></p>
								</div>
							</div>
							<div class="row" th:if="${cellphoneNumber != null}">
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mx-auto form-group ">
									<div class="form-group">
									<span class="label success">Tu número asociado TURBORED es:</span> <b><span
										class="label success" th:text="${cellphoneNumber}"></span></b>
								</div>
								</div>
							</div>
						</div>
						<div class="row justify-content-center align-self-center">
						<button type="submit" class="btn btn-primary">Aceptar</button>
					</div>
					</form>
					

				</div>
			</div>
		</div>
		<div class="modal"></div>
		<div th:insert="fragments/layout :: footer" class="fixed-bottom"></div>
	</div>
</body>
<script th:src="@{/script/util.js}"></script>
</html>