<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">

</head>
<body lang="es" style="font-size:18px;">
	<div th:insert="fragments/layout :: generalHeader" class="fixed-top"></div>
	<div class="container">
		<br>
		<div class="row">
			<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 mx-auto"
				style="margin-top: 5px;">
				<div class="card-body">
					<div class="row">
						<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 mx-auto">
							<h4 class="text-center">Recarga tu Turbored</h4>
							<p th:if="${confirmationMessage}" class="alert alert-success"
								role="alert" th:text="${confirmationMessage}"></p>
						</div>
					</div>
					<hr>
				</div>
				<p id="errorMessage" class="alert alert-danger" role="alert"
					style="display: none;"></p>
				<div class="card-body">
					<form id="card-form" th:action="@{/recharge/expressPlusRecharge/}"
						th:object="${expressRechargeForm}" th:method="POST" method="POST"
						action="register">
						<ul class="global-errors" th:if="${#fields.hasErrors('global')}">
							<li class="text-danger"
								th:each="err : ${#fields.errors('global')}" th:text="${err}">Input
								is incorrect</li>
						</ul>
						<div id="cellphoneNumberDiv">
							<div class="row">
								<div
									class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mx-auto form-group ">
									<label for="CellphoneNumber">IMEI o Numero asociado *</label> <input
										type="text" class="form-control" th:field="*{imei}" id="imei"
										placeholder="IMEI 15 digitos o Num. asoc. 10 digitos"
										minlength="10" maxlength="15" required="required">
									<p class="text-danger" th:if="${#fields.hasErrors('imei')}"
										th:errors="*{imei}"></p>
								</div>
								<div
									class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mx-auto form-group ">
									<label for="cellphoneNumberConfirmation">Confirmar
										numero *</label> <input type="text" class="form-control"
										th:field="*{imeiConfirmation}" id="imeiConfirmation"
										placeholder="Ingresa tus digitos sin espacios"
										minlength="10" maxlength="15" required="required">
									<p class="text-danger"
										th:if="${#fields.hasErrors('imeiConfirmation')}"
										th:errors="*{imeiConfirmation}"></p>
								</div>
							</div>
						</div>
						<div id="associatedNumberDiv"  class="form-group" style="display: none">
										<span > Para tus proximas recargas puedes utilizar el numero acociado a tu dispositivo que es:</span> <b><span
											 id="imeicellphoneNumber"></span></b>
									</div>
						<div class="form-group ">
							<label>Tipo de recarga: *</label> <select class="form-control"
								id="planSelected" 
								required="required" onchange="selectPlan()">
								<option value="select"></option>
							</select>
							
						</div>
						<div class="form-group">
							<label for="Email">Email(opcional) a este email se te enviara la confirmacion de tu recarga.</label> <input
								type="email" class="form-control" th:field="*{email}" id="email"
								placeholder="Para recibir notificacion del pago" maxlength="50">
							<p class="text-danger" th:if="${#fields.hasErrors('email')}"
								th:errors="*{email}"></p>
						</div>
						<input type="hidden" th:field="*{planSelectedId}">
						<input type="hidden" th:field="*{planSelectedName}">
						<input type="hidden" th:field="*{amount}">
						<input type="hidden" th:field="*{cellphoneNumber}">
						<input type="hidden" th:field="*{cellphoneNumberConfirmation}">

						<div class="row">
							<div class="col-6">
								<div>
									<p>* significa obligatorio</p>
								</div>
							</div>
							<div class="col-6">
								<div class="row justify-content-center">
									<button type="submit" class="btn btn-primary">Recargar</button>
								</div>
							</div>
						</div>
					</form>
					<div>
						<h5 class="text-right">Recuerda, nuestros asesores nunca
							pediran tus datos bancarios.</h5>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 mx-auto">
				<br><br><br>
				<img th:src="@{/images/mifi_recharge.png}" class="img-responsive"
					alt="Regarga MIFI">
			</div>
		</div>
	</div>

	<div class="modal"></div>
	<div th:insert="fragments/layout :: footer" class="fixed-bottom"></div>
</body>
<script th:src="@{/script/util.js}"></script>
<script th:src="@{/script/recharge/expressPlusRechargeHbbMifi.js}"></script>
</html>