<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">

</head>
<body lang="en" class="article">
	<div th:insert="fragments/layout :: generalHeader" class="fixed-top"></div>
	<div class="container">
		<div class="row">
			<div class="card-body">
				<form id="card-form" th:action="@{/conekta/cardPayment/pay/}"
					th:object="${cardPaymentModel}" th:method="POST" method="POST"
					action="register">
					<ul class="global-errors" th:if="${#fields.hasErrors('global')}">
						<li class="text-danger"
							th:each="err : ${#fields.errors('global')}" th:text="${err}">Input
							is incorrect</li>
					</ul>
					<div class="row">
						<div class="card col-xs-12 col-sm-8 col-md-8 col-lg-8 mx-auto">
							<div class="row ">
								<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 mx-auto">
									<p>Número Turbored</p>
									<b><p th:text="*{cellphoneNumber}"></p></b>
								</div>
								<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 mx-auto">
									<p>Producto</p>
									<p th:text="*{planSelectedName}"></p>
								</div>
								<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 mx-auto">
									<p>Total</p>
									<b><p th:text="'$ ' + *{amount}"></p></b>
								</div>
								<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 mx-auto">
									<br>
									<img th:src="@{/images/credit_card_payment_conekta.png}" class="img-responsive"
									alt="Turbored">
								</div>
								<p th:if="${confirmationMessage}" id="confirmationMessage"
									class="alert alert-success" role="alert"
									th:text="${confirmationMessage}" style="display: none;"></p>
								<p id="errorMessage" class="alert alert-danger" role="alert"
									style="display: none;"></p>
							</div>
							<hr>
							<div class="form-group">
								<label> Nombre del titular </label> <input type="text"
									th:field="*{cardTitularName}" class="form-control"
									id="cardTitName" maxlength="50"
									placeholder="Nombre como aparece en la tarjeta"
									required="required" />
							</div>
							<div class="form-group">
								<label> Número de tarjeta </label> <input type="text"
									class="form-control" id="cardNumber" minlength="16"
									maxlength="16" placeholder="**** **** **** ****"
									pattern="[0-9]{16}" required="required" />
							</div>
							<div class="row">
								<div class="col-xs-10 col-sm-5 col-md-5 col-lg-5 mx-auto">
									<label> Fecha de expiración </label>
									<div class="row">
										<div class="col-6">
											<input type="text" class="form-control" id="cardExpiredMonth"
												minlength="2" maxlength="2" pattern="[0-9]{2}"
												placeholder="Mes" required="required" />
										</div>
										<div class="col-6">
											<input type="text" class="form-control" id="cardExpiredYear"
												minlength="4" maxlength="4" pattern="[0-9]{4}"
												placeholder="Año" required="required" />
										</div>
									</div>
								</div>
								<div class="col-xs-10 col-sm-7 col-md-7 col-lg-7 mx-auto">
									<div class="form-group">
										<div class="row">
											<div class="col-10">
												<label> Código de seguridad </label>
											</div>
											<div class="col-2">
												<a href="#" data-toggle="tooltip" data-placement="top"
													title="Código de seguridad que se encuentra al reverso de tu tarjeta">
													<img th:src="@{/images/question_blue.jpg}">
												</a>
											</div>
										</div>
										<div class="row">
											<div class="col-4">
												<input type="password" class="form-control" id="cardCvv"
													minlength="3" maxlength="3" pattern="[0-9]{3}"
													placeholder="cvv" required="required" />
											</div>
											<div class="col-8">
												<img th:src="@{/images/cvc.jpg}">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-8">
								</div>
								<div class="col-4">
									<br>
									<div class="row justify-content-center align-self-center">
										<button type="button" onclick="createToken()"
											class="btn btn-primary">Aceptar</button>
									</div>
								</div>
							</div>
							<input type="hidden" id="tokenId" th:field="*{tokenId}" />
							<input type="hidden" th:field="*{cellphoneNumber}">
							<input type="hidden" th:field="*{planSelectedName}">
							<input type="hidden" th:field="*{planSelectedId}">
							<input type="hidden" th:field="*{amount}">
							<input type="hidden" th:field="*{email}">
						</div>

					</div>
				</form>
			</div>
		</div>
		<hr>
	</div>
	<div class="modal"></div>
	<div th:insert="fragments/layout :: footer" class="fixed-bottom"></div>
</body>
<script type="text/javascript"
	src="https://cdn.conekta.io/js/latest/conekta.js"></script>
<script th:src="@{/script/conekta/payment/cardPayment.js}"></script>
</html>