<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body lang="en" class="article">
	<div class="container container-fluid">
  		<div class="row" style="margin-top: 5px;">
    		<div class="col">
      			<div >
        			<img class="img-fluid mx-auto d-block img-responsive" th:src="@{/images/tr-logo-m.jpg}"  alt="TURBORED"  >
      			</div>
  			</div>
  		</div>
  		<div class="row center-block" >
			<div class="card col-xs-12 col-sm-12 col-md-6 col-lg-6 mx-auto" style="margin-top: 5px;">
				<div class="card-body">
					<h3 class="card-title text-center">Restablecer contraseña:</h3>
					<p th:if="${confirmationMessage}" class="alert alert-success"
						role="alert" th:text="${confirmationMessage}"></p>
					<div id=contentFormDiv th:if="${displayForm==true}">
					<!--Form-->
					<form class="login-form" th:action="@{/users/forgot-password/}" th:object="${userForm}" th:method="post">
						<ul class="global-errors" th:if="${#fields.hasErrors('global')}">
							<li class="text-danger"
								th:each="err : ${#fields.errors('global')}" th:text="${err}"></li>
						</ul>
							<div class="form-group text-right">
								<div class="checkbox">
									<label> <input type="checkbox" id="imeiCheckbox" th:field="*{loginWithImei}"/>
										Con IMEI
									</label>
								</div>
							</div>
							<div class="form-group">
							<label for="username" th:text="#{user.cellphonenumber.input}" id ="usernameLbl"></label>
							<input type="text" class="form-control" th:field="*{userName}"
								id="username" 
								placeholder="Número celular a 10 dígitos ej. 5586410100"
								minlength="8" 
								maxlength="10" 
								required="required">
							<p class="text-danger"
								th:if="${#fields.hasErrors('userName')}"
								th:errors="*{userName}"></p>
						</div>
						<div class="form-group">
							<label for="Email" th:text="#{user.email.input}"></label> 
							<input type="email" 
								class="form-control" th:field="*{email}" id="email"
								placeholder=""
								maxlength="50"
								required="required">
							<p class="text-danger" th:if="${#fields.hasErrors('email')}"
								th:errors="*{email}"></p>
						</div>
						<div class="row justify-content-center">
								<button type="submit" class="btn btn-primary">Restablecer</button>
						</div>
					</form>
					</div>
					<div class="row justify-content-center">
						<div class="column">
							<a href="/" class="nav-link">Inicio</a>
						</div>
						<div class="column">
							<a href="http://shop.tiendaturbored.com/" class="nav-link">Tienda</a>
						</div>
					</div>
				</div>
			</div>
		</div>
  	</div>
  	<div class="modal"></div>
	<div th:insert="fragments/layout :: footer" class="fixed-bottom"></div>
</body>
<script th:src="@{/script/util.js}"></script>
<script th:src="@{/script/user/forgotPassword.js}" type="text/javascript"></script>
</html>
