<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="font-size: 20px">
	<div th:insert="email/emailLayout :: header" class="fixed-top"></div>
	<div align=left>
		<span>¡Hola, </span><span style="font-size: 20px"
			th:text="${customerName}"></span> <span>! </span>

		<p>Lamentablemente no hemos podido procesar tu último pago.</p>
		<p>¡No te preocupes! Comprueba tus datos de pago, eso suele
			solucionar el problema
		<p>y podrás seguir con el servicio.</p>
		<br>
	</div>
	<div th:insert="email/emailLayout :: footer" class="fixed-top"></div>
</body>
</html>
